<div class="container">
    <div class="row">
        <h1>Marvel Heroes</h1>
        <div class="col s4 m4 l4" *ngFor="let hero of heroes">
            <div class="card">
                <div class="card-image">
                    <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" alt="">
                    <div class="card-action">
                        <p><a href="#">{{hero.name}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>