<section class="spotify-player">
    <div class="search">
        <form ng-submit="$ctrl.search()">
            <input type="text" ng-model="$ctrl.song_name">
            <button>Search</button>
        </form>
        <div class="player" ng-if="$ctrl.playlist">
            <div class="results">
                <a class="song" ng-click="$ctrl.play(song)" ng-repeat="song in $ctrl.playlist">
                    <span class="title">{{song.name}}</span>
                    <span>{{$ctrl.milliseconds(song.duration_ms)}}</span>
                    <span>{{$ctrl.artist[0].name}}</span>
                </a>
            </div>
            <div class="song-detail" ng-if="$ctrl.playlist">
                <div class="header">
                    <img ng-src="{{$ctrl.song.album.images[2].url}}" alt="">
                    <span class="title">{{$ctrl.song_name}}</span>
                    <span>Duration: {{$ctrl.milliseconds($ctrl.song.duration_ms)}}</span>
                    <span>Popularity: {{$ctrl.song.popularity}}</span>
                    <span>Album: {{$ctrl.song.album.name}}</span>
                    <span>Name: {{$ctrl.song.album.artists.name}}</span>
                </div>
            </div>
        </div>
    </div>
</section>